<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>SetUp Profile</title>
    <% include ./utilities/header %>

</head>
<body>
  <% include ./utilities/navbar %>
<div class="container-fluid">

  <div class="row">
    <div class="col-md-4">
  <form id="work-form" action="/newOfferlesson" method="post">
     <input type="hidden" name="coachId" value=<%= userId %>>
     <input type="hidden" name="ifNotNewOffer_id" value=<%= userId %>>

  <div class="form-group">
    <label for="exampleFormControlInput1">coaching class name</label>
    <input type="text" class="form-control" name="title" placeholder="e.g. BJJ 101 for beginners">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Sport</label>
    <input type="text" class="form-control" name="sport" placeholder="The Name of The Sport">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Max participants</label>
    <input type="number" class="form-control" name="maxParticipants" placeholder="e.g. max 5">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Coaching Description</label>
    <textarea class="form-control" name="courseDescription" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Location</label>
    <input type="text" class="form-control" name="location" placeholder="e.g. Brussels ">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Lesson Duration</label>
    <input type="text" class="form-control" name="duration" placeholder="2 hours">
  </div>


  <div class="form-group">
    <label for="exampleFormControlTextarea1">Coaching Price</label>
    <input type="text" class="form-control" name="price" placeholder="name@example.com">
  </div>
  <button type="submit" class="btn btn-primary btn-lg" name="save">save lesson</button>
  <button type="submit" class="btn btn-primary btn-lg" name="delete">delete lesson</button>


</form>
<button
  </div>
  <div class="col-md-8">
    <h1>Current Lessons Offered</h1>
    <button class="btn btn-primary btn-lg" onclick="unhide()" name="new">new lesson</button>
      <% coachingOffers.forEach(function(doc){ %>
        <h1>Offerd LEssons</h1>
        <%= doc.course.title %> </br>
        <%= doc.course.sport %> </br>
        <%= doc.course.courseDescription %> </br>
        <%= doc.course.price %> </br>
        <%= doc.course.location %> </br>
        <%= doc.course.maxParticipants %> </br>
        <%= doc.course.coachId %> </br>
      <% }) %>
  </div>
  </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#work-form').hide()
  })
  function unhide(){
    $('#work-form').show()
  }
</script>
</html>
